@mixin button() {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 280px;
    min-width: 185px;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none!important;
    
    
    @include breakpoint(medium) {
        display: inline-block;
        margin: 0;
        max-width: none;
    }
            
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    } 
    
}

@mixin button-background( $background: transparent, $background-hover: transparent ) {
    background-color: $background;
    
    &:hover{
        background-color: $background-hover;
        border-color: $background-hover;
    }  
}

@mixin button-border( $border-color: transparent, $border-color-hover: transparent ) {
    border-color: $border-color;
    
    &:hover{
        border-color: $border-color-hover;
    }  
}

@mixin button-color( $color: $white, $color-hover: $white, $color-focus: $white, $color-active: $white ) {
    
    color: $color;
    
    &:visited,
    &:focus {
        color: $color-focus;
    }
    
    &:active {
        color: $color-active;
    }

    
    &:hover{
        color: $color-hover;
    }  
}

@mixin button-padding( $top: 13px, $right: 16px, $bottom: 13px, $left: 16px ) {
    padding: $top, $right, $bottom, $left;
}


.button {
    @include button;
    
    &.blue {
        @include button-background( $blue, $light-blue );
        @include button-color();
        @include button-padding();
    }
        
    &.green {
        @include button-background( $green, $light-green );
        @include button-color();
        @include button-padding();
    }

}


.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 auto 20px;   
    }
    
    @include breakpoint(medium) {
        a {
            margin: 0 10px $global-margin;   
        }
    }
    
}



a.learn-more,
a.arrow,
a.tel {
    color: #0094D0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: center;
    position: relative;
    padding-right: 26px;
    text-transform: uppercase;
    text-decoration: none!important;
    
    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: $blue;
        border-radius: 50%;  
        position: absolute;
        right: 0;
        top: -1px; 
    }
    
    &:after {
        content: ''; 
        right: 8px;
        top: 6px;
        position: absolute;

        width: 6px;
        height: 6px;
        border: solid $white;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);  
    }
}

div.plus,
a.plus {
    display: inline-block;
    
    min-width: 33px;
    min-height: 33px;
    
    
    color: #fff;
    
    span {
        padding-left: 50px;  
        @include plus; 
        min-height: 40px;
        font-size: 20px;
        line-height: 34px;
    }
    
    &:hover {
        opacity: .8;   
    }
    
}