@mixin button() {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 0 auto;
    max-width: 280px;
    min-width: 185px;
    
    text-align: center;
    text-transform: uppercase;
    text-decoration: none!important;
    
    
    @include breakpoint(medium) {
        display: inline-block;
        margin: 0;
        max-width: none;
    }
            
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    
    svg {
       position: absolute;
       left: 10px;
       top: 50%;
       transform: translateY(-50%);
    } 
    
}

@mixin button-background( $background: transparent, $background-hover: transparent ) {
    background-color: $background;
    
    &:hover{
        background-color: $background-hover;
        border-color: $background-hover;
    }  
}

@mixin button-border( $border-color: transparent, $border-color-hover: transparent ) {
    border-color: $border-color;
    
    &:hover{
        border-color: $border-color-hover;
    }  
}

@mixin button-color( $color: $white, $color-hover: $white, $color-focus: $white, $color-active: $white ) {
    
    color: $color;
    
    &:visited,
    &:focus {
        color: $color-focus;
    }
    
    &:active {
        color: $color-active;
    }

    
    &:hover{
        color: $color-hover;
    }  
}

@mixin button-padding( $top: 11px, $right: 16px, $bottom: 11px, $left: 16px ) {
    padding: $top $right $bottom $left;
}


.button {
    @include button;
    
    &.blue {
        @include button-background( $blue, scale-color($blue, $lightness: 20%) );
        @include button-color();
        @include button-padding();
        
        &.arrow {
            position: relative;
            padding-right: 36px;
				
            &:before {
                content:'';
                right: 16px;
                top: 50%;
                position: absolute;

                width: 14px;
                height: 14px;
                border: solid $green;
                border-width: 0 2px 2px 0;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }
        
    &.green {
        @include button-background( $green, $light-green );
        @include button-color();
        @include button-padding();
    }

}


.button-link {
    color: $light-blue;
    display: inline-block;
    font-family: Montserrat;
    
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $blue;   
    }
    
    &:hover {
        color: scale-color($light-blue, -20% );
        
        &:after {
            background-color: scale-color($blue, -20% );   
        }
    }
}


.button-group {
    
    margin: 0 -10px;
 
    a {
        margin: 0 auto 20px;   
    }
    
    @include breakpoint(medium) {
        a {
            margin: 0 10px $global-margin;   
        }
    }
    
}

