//
// Footer
// --------------------------------------------------

.footer-widgets {
    background-color: #24426A;
    border-top: 7px solid $green;
    position: relative;
    z-index: 2;
    margin-top: 25px;
    padding: 45px 0 0;
   
    
    .wrap {
        position: relative;
        z-index: 2; 
    }
    
    .widget {
        
        padding: 0 0 24px 0;
        text-align: center;   
        
        @include breakpoint(large) {
            padding: 0; 
            text-align: left;  
        }
        
        a[href*="tel"] {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 22px;
        }
        
        * {
            color: #EFF3F1; 
            font-family: Montserrat;
            font-weight: 300;
        }
        
        .widget-title {
            font-family: Montserrat;
            font-size: 16px;
            line-height: 22px;
            text-transform:: uppercase;   
        }
    }
    
    .widget.widget_media_image {
        text-align: center;
        
        &:not(:last-child) {
            margin-bottom: 30px;   
        }
        
        img {
            max-width: 170px!important;   
        }
    }
    
    
    p,
    li {
        font-size: 14px;
        line-height: 20px;   
        margin-bottom: 20px;        
    }
    
    p {
        &:last-child {
            margin-bottom: 0;   
        }
    }
    
    .menu {
        li {
            
            display: block;
            margin: 0;
            
            a {
                font-size: 16px;
                line-height: 22px;
                padding: 5px 0;   
            }
        }
        
        .is-accordion-submenu-parent > a {
            padding: 0 0 0 20px;
            display: inline-block;
            margin-bottom: 5px;
            
            &:after {
                content: '+';
                display: block;
                border: none;
                right: auto;
                left: 0;
                top: 50%;
                margin-top: 0;
                transform: translateY(-50%);
                width: auto;
                height: auto;
                color: #fff;
                font-size: 24px;
            }
        }
        
        .is-accordion-submenu-parent[aria-expanded=true]>a:after {
            transform: translateY(-50%);
            transform-origin: 0;
            content: '-';
        }
        
        .menu.nested {
            margin-left: 20px;
        }
    }
    
    
    .column:not(:last-child) .widget .widget-title {
        display: none;
    }
    
    @include breakpoint(large) {
        
        .column:first-child,
        .column:last-child {
            margin-top: 30px;
        }
        
        .column:last-child {
            text-align: right;
            
            .widget {
                display: inline-block; 
                text-align: left;  
            }
        }
    }
    
    
    
    .widget {
        
        margin-bottom: 10px;
     
        .accordion {
            background: transparent;
        }
        
        .accordion-item {
            margin-bottom: 0;    
        }
        
        .accordion-title {
            border: none;  
            display: inline-block;
            padding: 0 0 0 20px;
            
            &:focus,
            &:hover {
                background-color: transparent;
            } 
            
            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                right: auto;
                margin-top: 0;
                transform: translateY(-50%);
                color: #fff;
                font-size: 24px;
            }
        }
        
        .accordion-content {
            border: none;
            background-color: transparent;   
            padding: 15px 0;
        }
        
    }
    
    
}






.site-footer {
    background-color: #24426A;
    
    .wrap {
        padding: 0 0 20px;   
    }
    
    hr {
        max-width: 130px;
        margin-left: auto;
        margin-right: auto;
        border-color: $light-blue;   
    }
    
    p {
        color: #EFF3F1;
        font-size: 11px;
        line-height: 15px;
        
        span {
             display: block;
             margin-bottom: 5px;
        }
        
        a {
            color: $light-blue;   
        }

    }
      
}

