/* CSS Document */

.template-contact {
    
    section.default {
       background: $blue;
        margin-top: 0;
        min-height: 400px; 
        padding-bottom: 60px;
        
        @include breakpoint(large) {
            min-height: 700px; 
            position: relative; 
            padding-bottom: 0;
        }
        
        .column:last-child {
             padding-top: 45px;
             padding-bottom: 45px;  
        }
        
        @include breakpoint(large) {
                                            
            .column:last-child {
                padding-left: rem-calc(map-get($grid-column-gutter, large)*1);  
                padding-right: rem-calc(map-get($grid-column-gutter, large)*1); 
            }
        }
        
        .wpgmza-filter-widgets {
            display: none;   
        }
        
        
        .map-container {
            
            height: 400px;
            
            @include breakpoint(large) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                $margin: rem-calc(map-get($grid-column-gutter, large)*1);
                width: calc(50% - #{$margin}); 
                height: 100%;
            }

        }
        
        
        h1,
        h4 {
            color: #fff;
            text-transform: none;   
        }
        
        .gform_confirmation_message {
            color: #fff;   
        }
        
    }
    
    
	
}